<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-26"> Bienvenue</span>
				<span class="login100-form-title">
					<img class="img" src="assets/Img/logoDark.png">
				</span>
                <div id='email' >
				    <div class="wrap-input100 validate-input" data-validate="Entrer votre email institutionnel: a@ensam-casa.ma">
					    <input class="input100" type="text" name="email">
					    <span class="focus-input100" data-placeholder="Email"></span>
				    </div>

				    <div class="container-login100-form-btn">
					    <div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
						    <button class="login100-form-btn">
							Envoyer le code
						    </button>
                        
					    </div>
				    </div>
			    </div>
				<div id='code' class="collapse">
				    <div class="wrap-input100 validate-input" data-validate="Entrer le code reçu">
					    <input class="input100" type="number" name="code">
					    <span class="focus-input100" data-placeholder="Code"></span>
				    </div>

				    <div class="container-login100-form-btn">
					    <div class="wrap-login100-form-btn">
						    <div class="login100-form-bgbtn"></div>
						    <button class="login100-form-btn">
							s'inscrire
						    </button>
                        
					    </div>
				    </div>
			    </div>
			</form>
		</div>
	</div>
</div>
