@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
  font-family: "Titillium Web", sans-serif;
}

.navbar-nav{
  background-color:#002244;
}

.navbar {
    background-color:#002244;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .nav-item {
  padding: 5px 5px;
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color:white;
}

.Hactive {
  background-color: orange;
  border-radius: 30px;
  color:white;
}
.inactive {
  color:white;
}
.nav-item .Hactive:hover {
  color:#002244;
}
.nav-item .inactive:hover {
  color:orange;   
}



.fa-bars {
  font-size: 30px;
}

@media only screen and (max-width: 991px) {

  .navbar-nav{
    background-color:#001d3a;
    padding-right:20px;
    border-radius: 13%;
  }
  

  .navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
    padding-left: 15px;
    color:white;
    align-self: right;
  }

}

@media only screen and (max-width: 383px) {

  .navbar-nav{
    background-color:#001d3a;
    padding-right:20px;
    border-radius: 13%;
  }
  

  .navbar a img {
    font-size: 20px;
    margin-left: 10px;
    padding-left: 15px;
    color:white;
    align-self: right;
  }
  /* to center element horizontally*/
  .navbar #button{
    width: 100%;
    text-align: center;
    color:white;
  }

}

.header{
  position: fixed;
  z-index: 1000; /* Stay on top */
  top: 0;
  width: 100%
}

.hidden{
  display:None;
}

.visible{
  display:block;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  display: block;
}