<div class="myClass">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container">
        
        <a class="navbar-brand " routerLink="/" id="logo"><img src="assets\Img\logoDark.png"  alt="Main logo"></a>
        <div id="button"><button style=" color:white; " class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button></div>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <!-- always shown -->
            <li class="nav-item ">
              <a class="nav-link active" [id]="accueilBtnID" routerLink="/" (click)="switchActive(accueilBtnID)" *ngIf="!isLoggedIn">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" [id]="AproposBtnID" routerLink="/à-propos" (click)="switchActive(AproposBtnID)" *ngIf="!isLoggedIn">A propos</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link inactive" [id]="contactBtnID" routerLink="/contact" (click)="switchActive(contactBtnID)" *ngIf="!isLoggedIn">Contact</a>
            </li>

            <!-- shown in case not connected == !isLoggedIn -->
              <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link inactive" [id]="signupBtnID" routerLink="/register" (click)="switchActive(signupBtnID)">S'inscrire</a>
              <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link inactive" [id]="signinBtnID" routerLink="/login" (click)="switchActive(signinBtnID)">Se connecter</a>
              </li>


            <!-- shown in case connected == isLoggedIn -->
              <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link active" [id]="profileBtnID" routerLink="/home" (click)="switchActive(homeBtnID)">Accueil</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link inactive" [id]="profileBtnID" routerLink="/profile" (click)="switchActive(profileBtnID)">{{ currentUser.username }}</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link inactive" [id]="logoutBtnID" routerLink="/" (click)="logout(); switchActive(logoutBtnID); ">Déconnexion</a>
              </li>

          </ul>
        </div>

      </div>
    </nav>

</div>

<router-outlet></router-outlet>

