<div class="container myContentClass">
  <span *ngIf="isStudentOwner">
    <h2 class="card-subheading center" >Votre insertion </h2><br>
    <p class="card-heading"><small>Ci-dessous vous trouverez votre insertion professionelle / poursuite d'études.</small></p><hr>  
  </span>
  <span *ngIf="!isStudentOwner">
    <h2 class="card-subheading center" style="width: 40%;">L'insertion de l'étudiant</h2><br>
    <p class="card-heading"><small>Ci-dessous vous trouverez l'insertion professionelle / poursuite d'études de l'étudiant concerné.</small></p><hr>  
  </span>
  <div  *ngFor="let insertion of insertions; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveInsertion(insertion, i)" style="padding: 0.4%;">
        <article class="postcard light blue" style="height: 220px; margin: 0%;" >
          <div class="postcard__text t-dark">
            <div class="row">
  
              <div class="col-5">
                  <h4>
                      {{ insertion.cursus_post_ensam=="travail" ? "Travail" : "Etude" }} :
                      <a class="postcard__title"><b>{{ insertion.intit_formation ? insertion.intit_formation : insertion.intit_poste }}</b></a>
                  </h4>
                  
                  <div class="postcard__subtitle small">
                    <span *ngIf="!isStudentOwner"><i class="icon-user mr-2"></i><span class="classLink"><a routerLink="/profile" style="margin-right:20px;">{{ insertion.fk_etudiant.prenom }} {{ insertion.fk_etudiant.nom }}</a></span></span>
                    <time  *ngIf="insertion.date_integration != null"><i class="icon-calendar mr-2"></i> {{ insertion.date_integration | date: 'dd/MM/yyyy'}}</time>
                  </div>
                  <div class="postcard__bar"></div>
              </div>
  
              <div class="col-7">
                <br>
      
                <div *ngIf="insertion.intit_formation">
                  <div>
                      <label><strong>Nature de formation : </strong></label>
                      {{ insertion.nature_formation }}                        </div>
                  <div>
                      <label><strong>Intitulé de formation :  </strong></label>
                      {{ insertion.intit_formation }}
                    </div>
                </div>
  
                <div *ngIf="!insertion.intit_formation">
                    <div>
                        <label><strong>Nom de société : </strong></label>
                        {{ insertion.societe }} 
                    </div>
                    <div>
                        <label><strong>Intitulé de poste  </strong></label>
                        {{ insertion.intit_poste }}
                    </div>
                </div>
  
                <div>
                  <label><strong>Ville d'insertion : </strong></label>
                  {{ insertion.ville }} ( {{ insertion.pays }} )                        
                </div>
                    
                <div>
                  <hr>
                  <div class="row">
                    <div class="col-6"></div>
                    <div class="col-3" class="classLink"><a routerLink="/insertion/{{ insertion.id }}" ><u>modifier</u> </a></div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-3" class="classLink"><a routerLink="/insertion/info/{{ insertion.id }}" ><u>plus de détails</u></a></div>
                  </div>
                </div>
  
              </div>
                      
            </div>  
          </div>
        </article>
    </div>
  </div>  

  <app-spinner class="mySpinnerClass" [class.hidden]="hideSpinner"></app-spinner>

  