<form name="form" #updateInfoForm="ngForm" *ngIf="isLoggedIn" class="container bootdey flex-grow-1 container-p-y myContentClass">

    <div class="media align-items-center py-3 mb-3">
      <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            {{ currentUser.firstname }} {{ currentUser.lastname }}
            <span class="text-muted font-weight-normal" >@{{ currentUser.username }} </span>
        </h4>  
        <div *ngIf=" currentStudent" class="text-muted mb-2" style="padding-left: 50px;">CODE apogée: 
          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" #code_etudiant="ngModel" name="code_etudiant" 
            placeholder="Code d'étudiant*" required maxlength="10" [(ngModel)]="form.code_etudiant"> 
            <div *ngIf="code_etudiant.errors && (code_etudiant.dirty || code_etudiant.touched)">
              <div [hidden]="!code_etudiant.errors?.required" class="alert-validate" 
                >Entrer votre code d'étudiant
              </div>
              <div [hidden]="!code_etudiant.errors?.maxlength" class="alert-validate" >
                Ce champ ne peut pas comporter plus de 10 caractères.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mb-4">
  
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Role:</td>
              <td>
                <span>Etudiant</span>
            </td>
            </tr>
            <tr>
              <td>Status:</td><!-- si utilisateur sera active -->
              <td><span class="badge badge-outline-success"><span class="fa fa-check text-primary"></span>&nbsp;Active</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="border-light m-0">
    </div>
  
    <div class="card">

      <hr class="border-light m-0">
      <div class="card-body">
  
        <table class="table user-view-table m-0">
          <tbody>
            <tr >
              <td>Nom d'utilisateur:</td>
              <td> {{ currentUser.username }} </td>
            </tr>
            <tr>
              <td>Nom et Prénom:</td>
              <td> {{ currentUser.firstname }} {{ currentUser.lastname }} </td>
            </tr>
            <tr>
              <td>E-mail:</td>
              <td> {{ currentUser.email }} </td> <!-- email professionnelle -->
            </tr>
          </tbody>
        </table>
  
        <h6 class="mt-4 mb-3">Informations supplémentaires</h6>
  
        <table class="table user-view-table m-0">
          <tbody>
            <tr *ngIf=" currentStudent">
              <td>Filiére:</td>
              <td>
                <div class="wrap-input100 validate-input">
                  <select class="input100" type="text" name="filiere" placeholder="Filiére" [(ngModel)]="form.filiere" style=" border:0px; outline:0px;" pattern="^[A-Z]{0,4}$" #filiere="ngModel">
                    <option *ngFor="let filiere of filieres" [ngValue]="filiere">
                      {{ filiere }}
                    </option>
                  </select>
                  <div *ngIf="filiere.errors && (filiere.dirty || filiere.touched)">
                    <div [hidden]="!filiere.errors?.pattern" class="alert-validate" 
                      data-validate="Choisissez votre filière*"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf=" currentStudent">
              <td>Promotion:</td>
              <td> 
                <div class="wrap-input100">
                  <input class="input100" type="text" name="promotion" placeholder="Promotion*" [(ngModel)]="form.promotion" #promotion="ngModel" required pattern="^20\d{2}$">
                  <div *ngIf="promotion.errors && (promotion.dirty || promotion.touched)">
                    <div [hidden]="!promotion.errors?.required" class="alert-validate" 
                      >Entrer la promotion</div>
                    <div [hidden]="!promotion.errors?.pattern" class="alert-validate" 
                      >Entrer une date valide entre 2000 et 2099</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
        <h6 class="mt-4 mb-3">Contacts</h6>
  
        <table class="table user-view-table m-0">
          <tbody>
            <tr >
              <td >Telephone:</td>
              <td > 
                <div class="wrap-input100">
                  <input class="input100" type="text" name="telephone" placeholder="Téléphone*" required [(ngModel)]="form.telephone" #telephone="ngModel" pattern="^\+[1-9]{1}[0-9]{3,14}$">
                  <div *ngIf="telephone.errors && (telephone.dirty || telephone.touched)">
                    <div [hidden]="!telephone.errors?.required" class="alert-validate" 
                      >Entrer le numéro téléphone</div>
                    <div [hidden]="!telephone.errors?.pattern" class="alert-validate" 
                      >Veuillez entrer un numéro de téléphone valide (Format: +...) !</div>
                  </div>
                </div>  
              </td>
            </tr>
            <tr >
              <td >Email personnel:</td>
              <td > 
                <div class="wrap-input100">
                  <input class="input100" type="text" name="email_perso" placeholder="Email personnel" [(ngModel)]="form.email_perso" #email_perso="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$">
                  <div *ngIf="email_perso.errors && (email_perso.dirty || email_perso.touched)">
                    <div [hidden]="!email_perso.errors?.pattern" class="alert-validate" 
                      >Veuillez entrer un email valide !</div>
                  </div>
                </div>  
              </td>
            </tr>
          </tbody>
        </table>  
      </div>

      <div class="text-center p-t-115">
        <span id="ValidityFormWarn" style="color: salmon;display: none;" >Veuillez vérifier que tout les champs sont bien remplies !</span>
      </div>

      <div class="validityDiv" style="display:inline-block; position:relative;" (click)="ValidityWarn()">
        <button style="background-color: green;" id="submitBtn" (click)="onSubmit()" [disabled]="!updateInfoForm.form.valid"> 
          ✔ Enregister modifiations
        </button>
        <button style="background-color: rgb(189, 3, 3); position:absolute; right: 0;"  routerLink="/profile"> 
          ❌ Annuler
        </button>
      </div>    




    </div>

  </form>