<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- 
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->

<div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">À propos</h1>
         <p class="image-aboutus-para">de la platforme PSI et la mission qu'elle s'est donnée.</p>
       </div>
    </div>
</div>
</div>

<div class="-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong" style="color:#002244;">Qui-sommes-nous et<br>qu'elle est notre objectif ? </h1>
                        <hr style="border-top: 4px solid #b3d6fc;width: 20%;margin-left:0;">

                        <p class="lead">Une platforme dédié à l'organisation <br>des stages/insertions professionnelles.</p>
                    </div>
                    <div class="col-md-6">
                    	<p>PSI Ensam Casa Est une plateforme 100% Ensamienne dédiée à la gestion des stages, d’insertions
                            professionnel et de fin d’études des élèves ingénieurs de l’ENSAM Casablanca, dès la
                            campagne de prospection jusqu’au semaines de soutenances et de validation.</p>
                        <p>Le cursus de l’élève ingénieur à l’ENSAM Casablanca comporte 3 stages obligatoires. Les
                            modalités de départ en stage et de durée minimale des stages obligatoires dans le cursus sont
                            décrites ci-dessous :</p>
                        <br>    
                        <table class="table table-hover" style="font-size: small;">
                                <thead>
                                  <tr >
                                    <th scope="col">Nature du stage</th>
                                    <th scope="col">Durée minimale</th>
                                    <th scope="col">Période normale du stage</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Stage d’initiation</th>
                                    <td>4 semaines</td>
                                    <td>Juillet - Août</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Stage professionnel</th>
                                    <td>4 à 6 semaines</td>
                                    <td>Juillet - Août</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Projet de fin d’études</th>
                                    <td >17 semaines</td>
                                    <td>Février - Juin</td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
        </div>
      </div>
      <div>    
        <div class="" style="margin-top: 50px;">
            <section class="services section-bg" id="services" style="background-color:rgba(0, 128, 128, 0.226);">
                <div class="container">
                  <header class="section-header">
                    <h3>Nos Objectifs</h3>
              
                    <p>Est conçu pour permettre à tous les membres de l’organisation ENSAM Casa d’exploiter
                        les expériences professionnelles effectuées par ses étudiants durant leurs cursus. Il permet
                        notamment :</p>
                  </header>
              
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-user-graduate service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 1</a></h4>
              
                        <p class="description">La création du profil étudiant pour enregistrer, modifier et télécharger les rapports de stages durant toutes ses années à l’ENSAM Casablanca.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-chalkboard-teacher service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 2</a></h4>
              
                        <p class="description">La création du profil professeur pour consulter,valider et télécharger les rapports des stages de tous les étudiants encadrés.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-clipboard  service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 3</a></h4>
              
                        <p class="description">La gestion efficace de l’opération du dépôt des rapports de stage et de la campagne des soutenances pour tous les niveaux.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa  fa-book-open service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 4</a></h4>
              
                        <p class="description">La mise en place d’une bibliothèque numérique contenant tous les rapports des étudiants, accessible à tous les membres de l’organisation ENSAM Casa.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-chart-bar service-icon" style="color:#fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 5</a></h4>
              
                        <p class="description">La génération des statistiques et l’analyse des données concernant les différentes expériences professionnelles. </p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-briefcase service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 6</a></h4>
              
                        <p class="description">La mise en place d’une bibliothèque numérique des cursus post-diplôme des lauréats, accessible aux staffs du service RCPS de l'ENSAM Casa.</p>
                      </div>
                    </div>
              
              
                  </div>
                </div>
              </section>
        </div>
        <div class="container" style="margin-top: 100px;margin-bottom: 100px;">
            <div >
                <h1 class="strong" style="text-align: center;color:#002244;">Nos partenaires industriels :</h1>
                <hr style="border-top: 4px solid #b3d6fc;width: 10%;"><br>
                <img  class="center" src="assets\Img\partenaires.jpg"/>   
            </div>

        </div>
    </div>
</div>
