<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- 
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->

<div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">À propos</h1>
         <p class="image-aboutus-para">de la platforme PSI et la mission qu'elle s'est donnée.</p>
       </div>
    </div>
</div>
</div>

<div class="-secktion paddingTB60">
    <div class="container" style="padding-bottom: 100px;">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong" style="color:#002244;">Qui-sommes-nous et<br>qu'elle est notre objectif ? </h1>
                        <hr style="border-top: 4px solid #b3d6fc;width: 20%;margin-left:0;">

                        <p class="lead">Une platforme dédié à l'organisation <br>des stages/insertions professionnelles.</p>
                    </div>
                    <div class="col-md-6">
                    	<p>PSI Ensam Casa Est une plateforme 100% Ensamienne dédiée à la gestion des stages, d’insertions
                            professionnel et de fin d’études des élèves ingénieurs de l’ENSAM Casablanca, dès la
                            campagne de prospection jusqu’au semaines de soutenances et de validation.</p>
                        <p>Le cursus de l’élève ingénieur à l’ENSAM Casablanca comporte 3 stages obligatoires. Les
                            modalités de départ en stage et de durée minimale des stages obligatoires dans le cursus sont
                            décrites ci-dessous :</p>
                        <br>    
                        <table class="table table-hover" style="font-size: small;">
                                <thead>
                                  <tr >
                                    <th scope="col">Nature du stage</th>
                                    <th scope="col">Durée minimale</th>
                                    <th scope="col">Période normale du stage</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Stage d’initiation</th>
                                    <td>4 semaines</td>
                                    <td>Juillet - Août</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Stage professionnel</th>
                                    <td>4 à 6 semaines</td>
                                    <td>Juillet - Août</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Projet de fin d’études</th>
                                    <td >17 semaines</td>
                                    <td>Février - Juin</td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
        </div>
    </div>
    <div class="" style="padding-top:50px;padding-left:100px;padding-right:100px;padding-bottom:50px;background-color:rgba(192, 233, 233, 0.637);">
        <div class="row">
          <div class="col-md-7">
            <p>Instruire c'est transmettre des connaissances et du savoir, quand à l'éducation, il s'agit de donner aux étudiants le savoir-être et le savoir-faire utiles à la vie sociale. Cela dit l'instruction et l'éducation partagent un dessein commun : aider l’apprenti à s'intégrer dans la société et élever un Homme capable de gérer tout un état bien instruit, très cultivé et d'une personnalité bien formée; elle permet aux étudiants de se familiariser avec la vie de groupe et d'apprendre à coopérer avec les autres. C’est pour cela qu'on ne peut éduquer sans construire et aussi l'inverse.  L'école et plus spécifiquement ENSAM Casablanca est une opportunité pour une meilleure ouverture d'esprit à une société où il fait bon vivre ensemble comme il est un outil indispensable de formation des futurs acteurs de la vie civique.
              Et puisque le monde change quand nous changeons, nous avons décidé d’être nous-même le changement en créant ce club intitulé Arts and Crafts Digital Manufacturing. Son objectif principal est d’inciter les élèves ingénieurs à créer des startups à partir des idées de projets révolutionnaires tout en développant leurs connaissances électriques, électronique, informatique et mécanique. A travers ce club nous visons l’industrie connectée à l’internationale en honorant notre écoles ENSAM Casablanca dans des évènements, compétitions et Hackathons nationaux et internationaux.</p>
              <br>
              L'équipe du club A&C Digital Manufacturing:
              <ul class="row">
                <div class="col">
                  <li> <strong>Hind Lakhal  </strong></li>
                <li> <strong>ES-SNOUSSI Amal  </strong> </li>
                <li> <strong>ZAKARIA KASSIMI  </strong> </li>
                <li> <strong>EL AZZOUNY houria  </strong> </li>
                <li> <strong>Sara Hannouni  </strong> </li>
                <li> <strong>EL MAHRI Rihabe  </strong> </li>
                <li> <strong>ZOUHRI Hidaya  </strong> </li>
                <li> <strong>YOUSSEF EJJIYAR  </strong></li>
                <li> <strong>SAAD JAMAL EDDINE  </strong></li>
                <li> <strong>Ayoub Taoufik  </strong> </li>
                
                </div>
                <div class="col">
                  <li> <strong>Zakaria bencherki </strong> </li>
                <li> <strong>Aymane rakib </strong></li>
                <li> <strong>GHARABA Mohamed </strong></li>
                <li> <strong>KACHI Amine </strong></li>
                <li> <strong>Achraf mejd </strong></li>
                <li> <strong>Wissal Khallouf </strong></li>
                <li> <strong>Hasna Soumer </strong></li>
                <li> <strong>Hay oumayma </strong></li>
                <li> <strong>Dr. Bahnasse Ayoub </strong> Professeur chercheur à l'ENSAM Casablanca</li>
                <li> <strong>Mme. ID-Aamer Hanane </strong> Chef département relations extérieurs </li>
             
                </div>
                 </ul>    
          </div>
          <div class="col-md-5">
            <h1 class="strong" style="color:#002244;margin-left:25%">Contexte de la plateforme<br> </h1>
              <hr style="border-top: 4px solid #b3d6fc;width: 20%; margin-right:5%">

              <p class="lead" style="margin-left:40%">Le club <strong>A&C Digital Manufacturing</strong> <br>
                <img  class="center" src="assets\Img\PNG Logo DM Couleur.png"/>
               </p>
          </div>
        </div>
    </div>

    <div class="container" style="padding-top: 50px;">
      <header class="section-header">
        <h1 class="strong" style="color:#002244; text-align:center;padding-bottom: 50px;">Guides d'utilisation de notre plateforme</h1>
      </header>
      
      <!-- Grid row -->     
      <div class="row">
        
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
          <!--Modal: Name-->
          <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              
              <!--Content-->
              <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WMRmfJ8nlXM"
                      allowfullscreen></iframe >
                  </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center" style="background: #002244;">
                  <span style="font-weight: 700;margin-bottom: 15px;color: #fd9518;font-size: 18px;">Guide Administrateur</span>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <!--Modal: Name-->
          <a>
            <div style="background: #002244;min-width:300;min-height:300;padding:100px 50px 100px 50px;" alt="video" data-toggle="modal"  data-target="#modal1">
              <img src="../../../../assets/Img/admin_icon.png" width="60" height="60" style="display:inline-block;margin-right:20px;">
              <div style="font-weight: 700;color: #fd9518;font-size: 18px;display:inline-block;">Voir Guide Administrateur</div>
            </div>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Modal: Name-->
          <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              
              <!--Content-->
              <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8MFUC0hH29c"
                      allowfullscreen></iframe >
                  </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center" style="background: #002244;">
                  <span style="font-weight: 700;margin-bottom: 15px;color: #fd9518;font-size: 18px;">Guide Professeur</span>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <!--Modal: Name-->
          <a>
            <div style="background: #002244;min-width:300;min-height:300;padding:100px 73px 100px 73px;" alt="video" data-toggle="modal"  data-target="#modal6">
              <img src="../../../../assets/Img/professor_icon.png" width="60" height="60" style="display:inline-block;margin-right:20px;">
              <div style="font-weight: 700;color: #fd9518;font-size: 18px;display:inline-block;">Voir Guide Professeur</div>
            </div>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Modal: Name-->
          <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              
              <!--Content-->
              <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZfITcIMJRVo"
                      allowfullscreen></iframe >
                  </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center" style="background: #002244;">
                  <span style="font-weight: 700;margin-bottom: 15px;color: #fd9518;font-size: 18px;">Guide Etudiant</span>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <!--Modal: Name-->
          <a>
            <div style="background: #002244;min-width:300;min-height:300;padding:100px 80px 100px 80px;" alt="video" data-toggle="modal"  data-target="#modal4">
              <img src="../../../../assets/Img/student_icon.png" width="60" height="60" style="display:inline-block;margin-right:20px;">
              <div style="font-weight: 700;color: #fd9518;font-size: 18px;display:inline-block;">Voir Guide Etudiant</div>
            </div>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>

    <div>    
        <div class="" style="padding-top: 50px;">
            <section class="services section-bg" id="services" style="background-color:rgba(0, 128, 128, 0.226);">
                <div class="container">
                  <header class="section-header">
                    <h3>Nos Objectifs</h3>
              
                    <p>Est conçu pour permettre à tous les membres de l’organisation ENSAM Casa d’exploiter
                        les expériences professionnelles effectuées par ses étudiants durant leurs cursus. Il permet
                        notamment :</p>
                  </header>
              
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-user-graduate service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 1</a></h4>
              
                        <p class="description">La création du profil étudiant pour enregistrer, modifier et télécharger les rapports de stages durant toutes ses années à l’ENSAM Casablanca.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-chalkboard-teacher service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 2</a></h4>
              
                        <p class="description">La création du profil professeur pour consulter,valider et télécharger les rapports des stages de tous les étudiants encadrés.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-clipboard  service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 3</a></h4>
              
                        <p class="description">La gestion efficace de l’opération du dépôt des rapports de stage et de la campagne des soutenances pour tous les niveaux.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa  fa-book-open service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 4</a></h4>
              
                        <p class="description">La mise en place d’une bibliothèque numérique contenant tous les rapports des étudiants, accessible à tous les membres de l’organisation ENSAM Casa.</p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-chart-bar service-icon" style="color:#fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 5</a></h4>
              
                        <p class="description">La génération des statistiques et l’analyse des données concernant les différentes expériences professionnelles. </p>
                      </div>
                    </div>
              
                    <div class="col-md-6 col-lg-4">
                      <div class="box">
                        <div class="icon" style="background: #002244;">
                          <i class="fa fa-briefcase service-icon" style="color: #fd9518;"></i>
                        </div>
              
                        <h4 class="title"><a href="">Objectif 6</a></h4>
              
                        <p class="description">La mise en place d’une bibliothèque numérique des cursus post-diplôme des lauréats, accessible aux staffs du service RCPS de l'ENSAM Casa.</p>
                      </div>
                    </div>
              
              
                  </div>
                </div>
              </section>
        </div>
        <div class="container" style="margin-top: 100px;margin-bottom: 100px;">
            <div >
                <h1 class="strong" style="text-align: center;color:#002244;">Nos partenaires industriels :</h1>
                <hr style="border-top: 4px solid #b3d6fc;width: 10%;"><br>
                <img  class="center" src="assets\Img\partenaires.jpg"/>   
            </div>

        </div>
    </div>
</div>
