<div class="container contact-form">

    <div *ngIf="!updated && !deleted">
      <div *ngIf="currentInsertion.id">
        <form >
          
            <h3>Modifier les informations relatives à votre insertion :</h3>
            
            <hr>
            <span style="font-size:large;"> <I>Selectionnez le cursus post Ensam :</I> </span>
            <div class="row" style="margin-top: 25px; ">
              <div class="col">
                  <select 
                    class="form-control" 
                    id="cursus_post_ensam"
                    required
                    [(ngModel)]="currentInsertion.cursus_post_ensam"
                    name="cursus_post_ensam"
                    placeholder="cursus_post_ensam*"
                    >
                      <option value="travail" selected>Travail</option>
                      <option value="etude">Etude</option>
                  </select>

              </div>
            </div>

            <hr>
            <span style="font-size:large;"> <I>Poursuite d'étude :</I> </span>
            <div class="row" style="margin-top: 25px; ">
              <div class="col">
                  <div class="form-group input-box ">
                      <input
                        type="text"
                        class="form-control etudeClass"
                        id="univ"
                        required
                        [(ngModel)]="currentInsertion.univ"
                        name="univ"
                        placeholder=" nom univ*"
                      />
                      <span class="unit">Université : </span>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group input-box ">
                        <input
                          type="text"
                          class="form-control etudeClass"
                          id="intit_formation"
                          required
                          [(ngModel)]="currentInsertion.intit_formation"
                          name="intit_formation"
                          placeholder="intitulé*"
                        />
                        <span class="unit">Intitulé de formation : </span>
                    </div>
                </div>
                <div class="col">

                  <div class="form-group input-box ">
                      <input
                        type="text"
                        class="form-control etudeClass"
                        id="nature_formation"
                        required
                        [(ngModel)]="currentInsertion.nature_formation"
                        name="nature_formation"
                        placeholder="nature*"
                      />
                      <span class="unit">Nature de formation : </span>

                  </div>
              </div>
            </div>

            <hr>
            <span style="font-size:large;"> <I>Insertion professionnelle :</I> </span>
            <div class="row" style="margin-top: 25px;">
                <div class="col">
                    <div class="form-group input-box ">
                        <input
                          type="text"
                          class="form-control travailClass"
                          id="intit_poste"
                          required
                          [(ngModel)]="currentInsertion.intit_poste"
                          name="intit_poste"
                          placeholder="intitulé*"
                        />
                        <span class="unit">Intitulé de poste : </span>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group input-box ">
                        <input
                          type="text"
                          class="form-control travailClass"
                          id="societe"
                          required
                          [(ngModel)]="currentInsertion.societe"
                          name="societe"
                          placeholder="société*"
                        />
                        <span class="unit">Nom de société : </span>

                    </div>
                </div>
                
            </div>

            <div class="form-group row ">
                <label for="date_integration" class="col-sm-3 col-form-label">Date d'intégration*</label>
                <div class="col-sm-9 ">
                  <div class="input-box ">
                    <input 
                          type="date"
                          class="form-control travailClass"
                          id="date_integration"
                          required
                          [(ngModel)]="currentInsertion.date_integration"
                          name="date_integration"
                    >
                    <span class="unit">Date d'intégration : </span>
                </div>

                </div>
            </div>

            <hr>
            <span style="font-size:large;"> <I>Informations supplémentaires :</I> </span>
            <div class="row" style="margin-top: 25px;">
              <div class="col">
                  <div class="form-group input-box">
                      <input
                        type="text"
                        class="form-control"
                        id="ville"
                        required
                        [(ngModel)]="currentInsertion.ville"
                        name="ville"
                        placeholder="ville*"
                      />
                      <span class="unit">Ville d'étude/boulot : </span>

                  </div>
              </div>
              <div class="col">
                  <div class="form-group input-box">
                      <input
                        type="text"
                        class="form-control"
                        id="pays"
                        required
                        [(ngModel)]="currentInsertion.pays"
                        name="pays"
                        placeholder="pays*"
                      />
                      <span class="unit">Pays d'étude/boulot : </span>

                  </div>
              </div>
              
            </div>

            <div class="row" style="margin-top: 25px;">
              <div class="col">
                  <label for="fk_etudiant"> Id étudiant* </label>
                  <div class="form-group input-box">
                      <input
                        type="number"
                        class="form-control"
                        id="fk_etudiant"
                        required
                        [(ngModel)]="currentInsertion.fk_etudiant"
                        name="fk_etudiant"
                        placeholder="id*"
                      />
                      <span class="unit">Id étudiant : </span>

                  </div>
              </div>

              
            </div>

            <!--
            <div class="row" style="margin-top: 30px;">
              <div class="col-6"></div>
              <div class="col-6 "><button (click)="saveInsertion()" class="btnContact">Envoyer</button>
              </div>
            </div>-->

            <div class="row" style="margin-top: 30px;">
              <div class="col-4"></div>
              <div class="col-4 "><button class="btnContact" (click)="deleteInsertion()">Delete</button></div>
              <div class="col-4">         <button
                type="submit"
                class="btnContact"
                (click)="updateInsertion()"
              >Update</button></div>
            </div>
            
            <p>{{ message }}</p>
        
          </form>


    </div>

    <div *ngIf="!currentInsertion.id">
        <br />
        <p>L'insertion spécifié n'est pas accessible ...</p>
    </div>
    </div>



    <div *ngIf="updated">
      <h4> L'insertion est modifié avec succès ! </h4>
    </div>

    <div *ngIf="deleted">
      <h4> L'insertion est supprimé avec succès ! </h4>
    </div>

</div>