<div class="">
<section class=" intro ">
    <section class="team-page-section">
        <div class=" container">
            <!-- Sec Title -->
    
                <div class="">
                    <h1 class="mb-0 name text-center"> Digital <span>Internship</span> Platform
                        <hr class="name" style="border-top: 1px solid #b3d6fc;width: 5%;">
                        <p style="font-size: 35px;font-weight: 400;">Nos webmasters</p></h1>
                    <!-- <hr class="name" style="border-top: 3px solid #b3d6fc;width: 15%;"> -->
                    <br>
                </div>

            <div class="row clearfix">

                <div class="col-lg-1 "></div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/lotfiFirdaoussEnt"><i class="fab fa-github"></i></a></li>
                            <li><a href="mailto:lotfi.firdaouss@gmail.com"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/firdaouss-lotfi/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://www.linkedin.com/in/firdaouss-lotfi/"><img  src="assets/Img/me3.jpg" alt="firdaoussImg"/></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://www.linkedin.com/in/firdaouss-lotfi/">Lotfi Firdaouss </a></h3>
                            <div class="designation">
                                Etudiant Ingénieur <br><b>Intélligence Artificielle & Génie Informatique</b>
                                <br><span style="text-decoration: underline;">lotfi.firdaouss@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 "></div>

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://github.com/gerrar-assmaa"><i class="fab fa-github"></i></a></li>
                            <li><a href="mailto:assmaa.gerrar09@gmail.com"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/gerrar-assmaa/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://www.linkedin.com/in/gerrar-assmaa/"><img src="assets/Img/assmaa.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://www.linkedin.com/in/gerrar-assmaa/">Gerrar Assmaa </a></h3>
                            <div class="designation">
                                Etudiant Ingénieur <br><b>Intélligence Artificielle & Génie Informatique</b>
                                <br><span style="text-decoration: underline;">assmaa.gerrar09@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 "></div>


            </div>
        </div>
    </section>
</section>
<div class="container wrap "  >
    <div class=" text-center">

            <h1><strong style="color:#002244;">Technologies utilisées</strong></h1>
            <hr style="border-top: 4px solid #b3d6fc;width: 15%;">

    </div>

    <ul class="clients">
        <li><a href=""><img src="assets/Img/angularTech.png" alt="Google"></a></li>
        <li><a href=""><img src="assets/Img/djangoTech.png" alt="Airbnb"></a></li>
        <li><a href=""><img src="assets/Img/postgreSqlTech.png" alt="Apple"></a></li>
    </ul>
  </div>
 

  <!-- <div class="members" style="background-color:rgb(226, 245, 245); padding-top: 50px;padding-bottom: 100px;">
    <div class="container" >
        <div class="row justify-content-center mb-3">
            <div class="col-md-7 text-center">
                <h1 class="display-5 mb-3"><strong style="color:#002244;">Encadrants du projet</strong></h1>
                <hr style="border-top: 4px solid #b3d6fc;width: 15%;">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="row no-gutters card-shadow">
                        <div class="col-md-5 pro-pic" >
                            <img  src="assets/Img/Bahnasse_Ayoub.jpg" alt="ayoublImg" height="300px" style="margin-left: 80px;margin-top: 50px; border-radius: 50%;"/>

                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">

                                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4"><br>
                                <h6 class="mb-3">Bahnasse Ayoub</h6>
                                
                                    <ul>
                                        <li>- Professeur Chercheur à ENSAM Casablanca, Université Hassan II de Casablanca. </li>
                                        <li>- Doctorat en Réseaux et Télécommunications.</li>
                                        <li>- Chercheur dans le laboratoire LTI, faculté des sciences Ben M'sik, Université Hassan II, Casablanca, Maroc. </li>
                                        <li>- Manager de plusieurs Académies Internationales et responsable de l'ENSAM Casablanca Academy. </li>
                                        <li>- Membre du Comité d'organisation et comité de programme technique de dizaines de conférences internationales dans 20 pays. </li>
                                        <li>- Reviewer dans plusieurs journaux indexés comme ELSEVIER Computer Network Journal,  ELSEVIER Computers & Security, IEEE Transactions on Communications, IEEE IoT journal, SPRINGER Telecommunication Systems, SPRINGER Wireless Personal Communications, SPRINGER Mobile Networks and Applications...</li>
                                    </ul>
                                
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li ><a href="#"  style="background-color: #D3D3D3;" class="icoJoomla" title="Joomla"><i class="fas fa-envelope"></i></a></li>
                                        <li><a href="#"  style="background-color: #D3D3D3;" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

        </div>
        
        <div class="row">

            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="row no-gutters card-shadow">
                        <div class="col-md-5 pro-pic" >
                            <img  src="assets/Img/ID-Aamer_Hanane.jpg" alt="hananeImg" height="300px" style="margin-left: 80px;margin-top: 50px;margin-bottom: 40px; border-radius: 50%;"/>
                            <div class="card-img-overlay">
                                <ul class="list-inline position-relative text-center">

                                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white">
                            <div class="p-4"><br>
                                <h6 class="mb-3">ID-Aamer Hanane</h6>
                                
                                    <ul>
                                        <li>- Doctorante chercheuse en Financement de l'Entrepreneuriat Innovant. </li>
                                        <li>- Responsable Service Relations Extérieures et Coopération à l'ENSAM Casablanca.</li>
                                        <li>- Enseignante Vacataire en Sciences de Gestion </li>
                                        <li>- Lauréate de l'ENCG Agadir. </li>
                                    </ul>
                                
                                <div class="col-md-12 text-center">
                                    <ul class="social-network social-circle">
                                        <li><a href="#"  style="background-color: #D3D3D3;" class="icoJoomla" title="Joomla"><i class="fas fa-envelope"></i></a></li>
                                        <li><a href="#"  style="background-color: #D3D3D3;" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>   -->

</div>  