<div class="">
<section class=" intro ">
    <section class="team-page-section">
        <div class=" container">
            <!-- Sec Title -->
    
                <div class="">
                    <h1 class="mb-0 name text-center"> Platforme <span>Stage</span> Insertion 
                        <hr class="name" style="border-top: 1px solid #b3d6fc;width: 5%;">
                        <p style="font-size: 35px;font-weight: 400;">Nos webmasters</p></h1>
                    <!-- <hr class="name" style="border-top: 3px solid #b3d6fc;width: 15%;"> -->
                    <br>
                </div>

            <div class="row clearfix">

                <div class="col-lg-1 "></div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100009070581116"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="mailto:lotfi.firdaouss@gmail.com"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/firdaouss-lotfi/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://www.linkedin.com/in/firdaouss-lotfi/"><img  src="assets/Img/me3.jpg" alt="firdaoussImg"/></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://www.linkedin.com/in/firdaouss-lotfi/">Lotfi Firdaouss </a></h3>
                            <div class="designation">
                                Etudiant Ingénieur <br><b>Intélligence Artificielle & Génie Informatique</b>
                                <br><span style="text-decoration: underline;">lotfi.firdaouss@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 "></div>

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100006153075509"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="mailto:assmaa.gerrar09@gmail.com"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/gerrar-assmaa/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://www.linkedin.com/in/gerrar-assmaa/"><img src="assets/Img/assmaa.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://www.linkedin.com/in/gerrar-assmaa/">Gerrar Assmaa </a></h3>
                            <div class="designation">
                                Etudiant Ingénieur <br><b>Intélligence Artificielle & Génie Informatique</b>
                                <br><span style="text-decoration: underline;">assmaa.gerrar09@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 "></div>


            </div>
        </div>
    </section>
</section>
<div class="container wrap ">
    <div class=" text-center">

            <h1><strong style="color:#002244;">Technologies utilisées</strong></h1>
            <hr style="border-top: 4px solid #b3d6fc;width: 15%;">

    </div>

    <ul class="clients">
        <li><a href=""><img src="assets/Img/angularTech.png" alt="Google"></a></li>
        <li><a href=""><img src="assets/Img/djangoTech.png" alt="Airbnb"></a></li>
        <li><a href=""><img src="assets/Img/postgreSqlTech.png" alt="Apple"></a></li>
    </ul>
  </div>
</div>  