<div id="carouselExample" class="carousel slide container-fluid full-width" data-ride="carousel">

    <div class="row">

        <div class="col-md-12">

            <div class="carousel-inner">

                <div class="carousel-item active myCarouselItem">
                    <div class="inside">

                        <div class="container">

                                <br> 

                                <h2>
                                    1--Lorem ipsum dolor
                                </h2>

                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime neque necessitatibus ullam sed, 
                                    eveniet eaque dolores labore corporis enim animi consequuntur aut voluptatibus earum atque numquam 
                                    natus quia quasi officia!
                                </p>

                                <button class="btn btn-md myButton">Lire plus...</button>

                                <p></p>
                        </div>
                        
                    </div>

                </div>
                <!-- End of Carousel Item 1 -->

                <div class="carousel-item myCarouselItem">
                    <div class="inside">

                        <div class="container">

                                <br> 

                                <h2 class="carousel-title">
                                    2--Lorem ipsum dolor
                                </h2>

                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime neque necessitatibus ullam sed, 
                                    eveniet eaque dolores labore corporis enim animi consequuntur aut voluptatibus earum atque numquam 
                                    natus quia quasi officia!
                                </p>

                                <button class="btn btn-md myButton">Lire plus...</button>

                                <p></p>
                        </div>
                        
                    </div>

                </div>

                <div class="carousel-item myCarouselItem">
                    <div class="inside">

                        <div class="container">

                                <br> 

                                <h2>
                                    3--Lorem ipsum dolor
                                </h2>

                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime neque necessitatibus ullam sed, 
                                    eveniet eaque dolores labore corporis enim animi consequuntur aut voluptatibus earum atque numquam 
                                    natus quia quasi officia!
                                </p>

                                <button class="btn btn-md myButton">Lire plus...</button>

                                <p></p>
                        </div>
                        
                    </div>

                </div>

            </div>
            <!-- End of Carousel Inner -->
        
        </div>
        <!-- End of Col-md-12 -->

        <div class="col-md-12">

            <ol class="carousel-indicators">

                <li data-target="#carouselExample" data-slide-to="0" class="active"></li>

                <li data-target="#carouselExample" data-slide-to="1"></li>

                <li data-target="#carouselExample" data-slide-to="2"></li>

            </ol>
            <!-- End of Carousel Indicators -->

        </div>
        <!-- End of Col-md-12 -->

    
    </div>
    <!-- End of Row -->

</div>
<!-- End of carouselExample-->
