<div class="card-container">
  <nz-tabset nzType="card" >
    <nz-tab [nzTitle]="'Statistique sur stage'" >
      <nz-spin nzTip="Loading..." [nzSpinning]="loadingStage"> 
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;" class=" form-area" >
          <div class="styled-input" nz-col nzSpan="7">
            <select name="annee" [(ngModel)]="filterAnneeStage">
              <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
            </select>
            <label>Année</label>          
          </div>
          <div class="styled-input" nz-col nzSpan="7">
            <select name="promotion" [(ngModel)]="filterPromotionStage">
              <option *ngFor="let promotion of promotions" value="{{promotion}}">{{promotion}}</option>
            </select>
            <label>Promotion</label>          
          </div> 
          <div class="no-pad-left-10" nz-col nzSpan="7">
            <button type="submit" class="primary-btn serach-btn" (click)="calculateStage()">Appliquer</button>
          </div>     
      </div>
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;">
        <div nz-col nzSpan="9" class="number">
          <span class="icon-report mr-3"></span>
          <h4>{{stageReport}} <br/> STAGE </h4>
        </div>
        <div class="card" nz-col nzSpan="11">
          <div class="card-header"> Nombre des Stages par Filière </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingDoughnut"> 
              <canvas baseChart height="300"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors">
              </canvas>
            </nz-spin>
          </div>
        </div>      
      </div>
      <div nz-row style="margin-bottom:40px;">
        <div class="card" nz-col nzFlex="auto">
          <div class="card-header"> Nombre des stages par société  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingLineChart1"> 
              <canvas baseChart  height="300"
                [datasets]="lineChartData1"
                [labels]="lineChartLabels1"
                [options]="lineChartOptions"
                [colors]="lineChartColors1"
                [chartType]="lineChartType1"
              ></canvas>
            </nz-spin>
          </div>
        </div>
      </div>
      <div nz-row style="margin-bottom:40px;">
        <div class="card" nz-col nzFlex="auto">
          <div class="card-header"> Nombre des Stages par Société/Filière  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingLineChart2"> 
              <canvas baseChart width="700" height="300"
                [datasets]="lineChartData2"
                [labels]="lineChartLabels2"
                [options]="lineChartOptions"
                [colors]="lineChartColors2"
                [chartType]="lineChartType2"
              ></canvas>
            </nz-spin>
          </div>
        </div>
      </div>
      <div nz-row style="margin-bottom:40px;">
        <div class="card" nz-col nzFlex="auto">
          <div class="card-header"> Nombre des Stages par VILLE  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingBarChart"> 
              <canvas baseChart width="700" height="300"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [chartType]="barChartType"
              ></canvas>
            </nz-spin>
          </div>
        </div>      
      </div> 
      </nz-spin >       
    </nz-tab>
    <nz-tab [nzTitle]="'Statistique sur projet'">
      <nz-spin nzTip="Loading..." [nzSpinning]="loadingProjet">
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;" class=" form-area" >
          <div class="styled-input" nz-col nzSpan="7">
            <select name="annee" [(ngModel)]="filterAnneeProjet">
              <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
            </select>
            <label>Année</label>          
          </div>
          <div class="styled-input" nz-col nzSpan="7">
            <select name="promotion" [(ngModel)]="filterPromotionProjet">
              <option *ngFor="let promotion of promotions" value="{{promotion}}">{{promotion}}</option>
            </select>
            <label>Promotion</label>          
          </div> 
          <div class="no-pad-left-10" nz-col nzSpan="7">
            <button type="submit" class="primary-btn serach-btn" (click)="calculateProjet()">Appliquer</button>
          </div>     
      </div>
      <div nz-row nzJustify="space-around" style="margin-bottom:40px;">
        <div nz-col nzSpan="9" class="number">
          <span class="icon-report mr-3"></span>
          <h4>{{projetReport}} <br/> PROJET </h4>
        </div>
        <div class="card" nz-col nzSpan="11">
          <div class="card-header"> Nombre des Stages par Filière </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingDoughnut"> 
              <canvas baseChart height="300"
                [data]="doughnutPROJETChartData"
                [labels]="doughnutPROJETChartLabels"
                [chartType]="doughnutPROJETChartType"
                [options]="doughnutPROJETChartOptions"
                [colors]="doughnutPROJETChartColors">
              </canvas>
            </nz-spin>
          </div>
        </div>      
      </div>
      </nz-spin>
    </nz-tab>
  </nz-tabset>
</div>
