<div class="card-container">
  <nz-tabset nzType="card" >
    <nz-tab [nzTitle]="'Statistique sur stage'" >
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;">
        <div nz-col nzSpan="9" class="number">
          <span class="icon-report mr-3"></span>
          <h4>{{stageReport}} <br/> STAGE </h4>
        </div>
        <div nz-col nzSpan="14" class="number form-area" >
        <div nz-row nzJustify="space-between">
          <div class="styled-input multi" nz-col nzSpan="11">
            <input type="number" [(ngModel)]="filterPromotionStage" (ngModelChange)="calculateStage()"  data-placeholder-focus="false">
            <label>Promotion</label>          
          </div> 
          <div class="no-pad-left-10" nz-col nzSpan="11">
            <button type="submit" class="primary-btn serach-btn" (click)="renitialiserFiltres()">Reinitialiser</button>
          </div>
        </div> 
        </div>      
      </div>
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;">
        <div class="card" nz-col nzSpan="9">
          <div class="card-header"> Nombre des Stages par Filière </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingDoughnut"> 
              <canvas baseChart height="300"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors">
              </canvas>
            </nz-spin>
          </div>
        </div> 
        
        <div class="card" nz-col nzSpan="14">
          <div class="card-header"> Nombre des stages par société  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingLineChart1"> 
              <canvas baseChart  height="300"
                [datasets]="lineChartData1"
                [labels]="lineChartLabels1"
                [options]="lineChartOptions"
                [colors]="lineChartColors1"
                [chartType]="lineChartType1"
              ></canvas>
            </nz-spin>
          </div>
        </div>     
      </div>
      <div nz-row style="margin-bottom:40px;">
        <div class="card" nz-col nzFlex="auto">
          <div class="card-header"> Nombre des Stages par Société/Filière  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingLineChart2"> 
              <canvas baseChart width="700" height="300"
                [datasets]="lineChartData2"
                [labels]="lineChartLabels2"
                [options]="lineChartOptions"
                [colors]="lineChartColors2"
                [chartType]="lineChartType2"
              ></canvas>
            </nz-spin>
          </div>
        </div>
      </div>
      <div nz-row style="margin-bottom:40px;">
        <div class="card" nz-col nzFlex="auto">
          <div class="card-header"> Nombre des Stages par VILLE  </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingBarChart"> 
              <canvas baseChart width="700" height="300"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [chartType]="barChartType"
              ></canvas>
            </nz-spin>
          </div>
        </div>      
      </div>        
    </nz-tab>
    <nz-tab [nzTitle]="'Statistique sur projet'">
      <div nz-row nzJustify="space-between" style="margin-bottom:40px;">
        <div nz-col nzSpan="9" class="number">
          <span class="icon-report mr-3"></span>
          <h4>{{projetReport}} <br/> PROJET </h4>
        </div>
        <div nz-col nzSpan="14" class="number form-area" >
        <div nz-row nzJustify="space-between">
          <div class="styled-input multi" nz-col nzSpan="11">
            <input type="number" [(ngModel)]="filterPromotionProjet" (ngModelChange)="calculateProjet()" data-placeholder-focus="false">
            <label>Promotion</label>          
          </div> 
          <div class="no-pad-left-10" nz-col nzSpan="11">
            <button type="submit" class="primary-btn serach-btn" (click)="renitialiserFiltres()">Reinitialiser</button>
          </div>
        </div> 
        </div>      
      </div>
      <div nz-row nzJustify="space-around" style="margin-bottom:40px;">
        <div class="card" nz-col nzSpan="11">
          <div class="card-header"> Nombre des Stages par Filière </div>
          <div class="card-body">
            <nz-spin nzTip="Loading..." [nzSpinning]="loadingDoughnut"> 
              <canvas baseChart height="300"
                [data]="doughnutPROJETChartData"
                [labels]="doughnutPROJETChartLabels"
                [chartType]="doughnutPROJETChartType"
                [options]="doughnutPROJETChartOptions"
                [colors]="doughnutPROJETChartColors">
              </canvas>
            </nz-spin>
          </div>
        </div>      
      </div>
    </nz-tab>
  </nz-tabset>
</div>
