
<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="col_Blue_amrc pt2"><img src="assets\Img\logoLight.png" alt="Main logo"></h5>
            <!--headin5_amrc-->
            <p class="mb10">Notre solution assure le suivi des étudiants dans leurs stages à travers
                une bibliothèque de rapports de stages classés et étiquetès à l'aide de l'intelligence artificielle.
            </p>
            </div>

            <div class=" col-sm-4 col-md col-12 col">
                <h5 class="headin5_amrc col_Blue_amrc pt2 font-weight-bold">CONTACT</h5><hr style="height:15px;">
                <!--headin5_amrc-->
                <div class=" contactItem " ><p ><i class="fa fa-location-arrow "></i> 150 Avenue Nile Sidi Othman, Casablanca 20670</p></div>
                <div class=" contactItem " ><p><i class="fa fa-phone "></i>  +212 52 25 64 222 </p></div>
                <div class=" contactItem " ><p><i class="fa fa fa-envelope "></i> ensam.casablanca@gmail.com </p></div>
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_Blue_amrc pt2 font-weight-bold">ENSAM CASABLANCA</h5><hr style="height:15px;">
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                <li><p class="mb10">L'ENSAM de Casablanca est une école d'ingénieurs qui a pour mission de préparer les étudiants-ingénieurs aux métiers du secteur industriel.</p></li>    
                <hr width="150px" align="left" >
                <li><a href="http://ensam-casa.ma">Site Ensam Casablanca</a></li>
                <li><a href="http://ensam-casa.ma/ensamacademy">ECA – ENSAM Casablanca Académie</a></li>
                <li><a href="http://ensam-casa.ma/contactez-nous">Contact ensamC</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

        </div>
    </div>


    <div class="container">
        <ul class="foote_bottom_ul_amrc font-weight-bold footer_menu">
            <li><a routerLink="/" >Accueil</a></li>
            <li><a routerLink="/" >A propos</a></li>
            <li><a routerLink="/" >Contact</a></li>
            <li><a routerLink="/" >S'inscrire</a></li>
            <li><a routerLink="/login" >Se connecter</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <div class="footer_copyRights"><p class="text-center"> © 2021 ENSAM - CASABLANCA | Conçu par <a href="linkedin.com/in/firdaouss-lotfi/">LOTFI Firdaouss</a> & <a href="https://www.linkedin.com/in/gerrar-assmaa/">GERRAR Assmaa</a></p></div>

        <div class="footer_social">
        <ul class="social_footer_ul ">
            <li style="padding-left: 0px; margin-left: 0px;"><a href="https://www.facebook.com/ENSAM.univ/"><i class="fab fa-facebook-f" ></i></a></li>
            <li><a href="https://twitter.com/ensamcasa2019"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/school/ensam-casablanca/about/"><i class="fab fa-linkedin"></i></a></li>
            <li ><a href="https://www.youtube.com/channel/UCeQB_nDJYbY6T5n7SsxkdAw"><i class="fab fa-youtube"></i></a></li>
        </ul>
        </div>
        <!--social_footer_ul ends here-->
    </div>

</footer>

<router-outlet></router-outlet>