/*footer*/
.col_Blue_amrc { color:#002244;}
footer { width:100%; background-color:#B4D7FE; min-height:250px; padding:10px 0px 25px 0px ; margin-bottom:0px;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:18px; color:#06121f;; padding-bottom:0px; margin-bottom:0px; }
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:rgb(23, 16, 41);}
.footer_ul_amrc li a:hover{ color:#FD9519; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }


.bottom_border { border-bottom:1px solid #002244;; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:rgb(23, 16, 41); margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:10px; padding-right:10px; padding-top:10px; float:left; }
.social_footer_ul li a { color:rgb(23, 16, 41); border:1px solid rgb(23, 16, 41); padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.social_footer_ul li a:hover{ background-color:#FD9519; }

.contactItem {
    margin-bottom: 13px;
}

@media only screen and (max-width: 495px) {

	.navbar a img {
	  font-size: 20px;
	  margin-left: 10px;
	  padding-left: 15px;
	  color:white;
	  align-self: right;
	}
	/* to center element horizontally*/
	.footer_menu{
	  width: 100%;
	  text-align: center;
	  font-size: small;
	}

	.footer_copyRights p{
		width: 100%;
		text-align: center;
		font-size: small;	
	}

	.footer_social{
		width: 100%;
		text-align: center;
	}
  
  }


  @media only screen and (max-width: 430px) {

	.navbar a img {
	  font-size: 20px;
	  margin-left: 10px;
	  padding-left: 15px;
	  color:white;
	  align-self: right;
	}
	/* to center element horizontally*/
	.footer_menu{
	  width: 100%;
	  text-align: center;
	  font-size: x-small;
	}

	.footer_copyRights p{
		width: 100%;
		text-align: center;
		font-size: x-small;	
	}

	.footer_social{
		width: 100%;
		text-align: center;
	}
  
  }  