/*
# Intro Section
--------------------------------------------------------------*/
#intro {
    width: 100%;
    height: 90vh;
    background: url(src/assets/Img/library.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro:before {
    content: "";
    background: rgba(0, 34, 69, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro h1 {
    color: #b3d6fc;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #fd9518;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 500;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  
  #intro .connect-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #fd9518;
  }
  
  #intro .connect-btn:hover {
    background: #fd9518;
    color: #fff;
    text-decoration: none;
  }
  
  #intro .sign-up-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1;
    margin: 10px;
    color: #fff;
  }
  
  #intro .sign-up-btn:hover {
    color: #fd9518;
    text-decoration: none;
  }
  
  [data-aos][data-aos-delay="100"],body[data-aos-duration="1000"] [data-aos]{transition-duration:1s}[data-aos][data-aos][data-aos-delay="1000"],body[data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;transform:translateZ(0)}[data-aos=fade-up]{transform:translate3d(0,100px,0)}[data-aos^=zoom][data-aos^=zoom]{opacity:0;transition-property:opacity,transform}[data-aos^=zoom][data-aos^=zoom].aos-animate{opacity:1;transform:translateZ(0) scale(1)}[data-aos=zoom-in]{transform:scale(.6)}[data-aos=zoom-in-up]{transform:translate3d(0,100px,0)}

  .sed_testimonial_section {
    padding: 6rem 0rem;
  }
  
  .testi_person_img_icon {
    margin-top: 2rem;
  }
  
  .testi_person_img_icon ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
  }
  
  .testi_person_img_icon ul li {
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 11px;
    cursor: pointer;
  }
  
  .testi_person_img_icon ul li img {
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .change_contet_test:nth-child(1) {
    display: block;
  }
  
  .change_contet_test {
    display: none;
  }
  
  .test_user_review_content h1 {
    font-family: "Work-Sans-SemiBold";
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    color: #000000;
    text-transform: uppercase;
  }
  
  .test_user_review_content p {
    font-size: 14px;
    text-align: right;
    color: #000000;
  }
  
  .bottom_line_yello {
    border-bottom: 2px solid #fddf59;
    padding-bottom: 2rem;
  }
  
  .img_peroson_fullsize {
    text-align: right;
  }
  
  .active_user {
    position: relative;
    border: 3px solid #fddf59 !important;
    border-radius: 11px;
  }
  
  .active_user:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fddf59;
    left: 0;
    right: 0;
    margin: 0px auto;
    border-radius: 50%;
    bottom: -8px;
  }
  
  .p_b_80 {
    padding-bottom: 80px;
  }
  
  .sed_testimonial_section {
    padding-bottom: 4rem;
  }
  
  .img_peroson_fullsize {
    position: relative;
  }
  