<app-header></app-header>
<section id="intro">
  <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">Platform <span>Stage</span> Insertion</h1>
    <p class="mb-4 pb-0">BiblIAcataire - ensam casablanca</p>
    <a routerLink="/login" class="connect-btn scrollto">Connecter</a>
    <a routerLink="/" class="sign-up-btn scrollto">S'inscrire</a>
  </div>
</section>
<app-footer></app-footer>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

