<section id="intro">
  <div class="intro-container" >
    <h1 class="mb-4 pb-0">Platforme <span>Stage</span> Insertion</h1>
    <p class="mb-4 pb-0">Bibliocataire - ENSAM Casablanca</p>
    <a routerLink="/login" class="connect-btn scrollto" id="signinBtnID">Se connecter</a>
    <a routerLink="/register" class="sign-up-btn scrollto" id="signupBtnID">S'inscrire</a>
  </div>
</section> 

<section class="sed_testimonial_section homepage-about-us-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <!-- start testimonial text review -->
        <div class="left_text_testi_contetn">
          <div class="test_user_review_content change_contet_test">
            <h1>SM LE ROI MOHAMMED VI</h1>
            <p  style="font-style:italic;">
              ❝ L’Afrique est en passe de devenir un laboratoire du monde numérique. Le digital est en train de changer le visage de notre continent, porté par une jeunesse inventive, créative et audacieuse. ❞
            </p>
            <small  style="font-size: x-small; color: rgb(138, 138, 138);" > Extrait du discours royal au Sommet extraordinaire de l'UA sur la Zone de libre-échange continentale, 21/03/2018.</small>
            <p class="bottom_line_yello"></p>
            <br>
            <p style="font-style:italic;">
              ❝ D’ailleurs, j’ai d’ores et déjà appelé à la nécessité de moderniser les
              méthodes de travail, de faire preuve d’ardeur créative et d’innovation
              dans la gestion de la chose publique. ❞
            </p>
            
            <small style="font-size: x-small; color: rgb(138, 138, 138);" > Extrait du discours du Trône de 2019. </small>

          </div>
        </div>
        <!-- end testimonial text review -->
      </div>
      <div class="col-lg-7">
        <div class="img_peroson_fullsize">
          <img class="img-fluid" src="assets/Img/mohamed6.jpg" alt="img">
        </div>

      </div>
    </div>
  </div>
</section>
