<!-- <p>menu-student works!</p> -->

<aside class="sidebar">
  <div class="toggle">
      <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar" >
            <span></span>
      </a>
  </div>
  
  <div class="side-inner" id="main-navbar">

      <div class="profile">
        <img src="assets/Img/student_icon.png" alt="Image" class="img-fluid" *ngIf="isStudent">
        <img src="assets/Img/professor_icon.png" alt="Image" class="img-fluid" *ngIf="isProfessor">
        <img src="assets/Img/admin_icon.png" alt="Image" class="img-fluid" *ngIf="isAdministrator">
        <h3 class="name"> {{ currentUser.username }} </h3>
      </div>

      <!-- <div *ngIf="isStudent && currentStudent"> you are a student {{ currentStudent.id }} </div> -->

      <div class="nav-menu">
        <ul>
          <li class="active"><a  id="homeId" routerLink="/rapport" ><span class="icon-home mr-3"></span>Accueil</a></li>
          <li ><a id="profileId" routerLink="/profile"><span class="icon-user mr-3"></span>Mon profil</a></li>
          <div [class.hidden]="!isStudent || !currentStudent">
            <li ><a  id="rapportsId" (click)="dropDownFunction(myDropdownRapport)" class="dropbtn"><span class="icon-report mr-3"></span>Rapports</a></li>
            <div *ngIf="currentStudent" id="myDropdownRapport" class="dropdown-content">
              <a routerLink="/rapport/etudiant/{{currentStudent.id}}" >Mes rapports</a> <!-- path: "rapport-etudiant/:etudiant" -->
              <a routerLink="/rapport/ajouter" >Ajouter rapport</a>
            </div>
          </div>

          <li  [class.hidden]="!isAdministrator"><a id="insertionsId" routerLink="/insertion"><span class="icon-insertion mr-3"></span>Insertions</a></li>

          <div [class.hidden]="!isStudent || !currentStudent">
            <li ><a id="insertionId" (click)="dropDownFunction(myDropdownInsertion)" class="dropbtn"><span class="icon-insertion mr-3"></span>Insertions</a></li>
            <!-- <div> {{ hasInsertion }} </div> -->
            <div *ngIf="currentStudent" id="myDropdownInsertion" class="dropdown-content">
              <a routerLink="/insertion/etudiant/{{currentStudent.id}}">Mon insertion</a> <!-- path: "insertion-etudiant/:etudiant" -->
              <a routerLink="/insertion/ajouter">Ajouter insertion</a>
            </div>
          </div>

          <div>
            <li  [class.hidden]="!isAdministrator"><a  id="gestionProfId" (click)="dropDownFunction(myDropdownProf)" class="dropbtn"><span class="icon-prof mr-3"></span>Gestion professeurs</a></li>
            <div id="myDropdownProf" class="dropdown-content">
              <a routerLink="/professeur">liste prof</a>
              <a routerLink="/professeur/ajouter">Ajouter prof</a> <!-- path: "insertion-etudiant/:etudiant" -->
            </div>
          </div>

          <div>
            <li  [class.hidden]="!isAdministrator"><a  id="gestionEtudId" (click)="dropDownFunction(myDropdownEtudiant)" class="dropbtn"><span class="icon-etudiant mr-3"></span>Gestion etudiants</a></li>
            <div id="myDropdownEtudiant" class="dropdown-content">
              <a routerLink="/etudiant">liste etudiant</a>
              <a routerLink="/etudiant/ajouter">Ajouter etudiant</a> <!-- path: "insertion-etudiant/:etudiant" -->
            </div>
          </div>

          <li [class.hidden]="!isAdministrator"><a id="formId" routerLink="/gestionForm"><span class="icon-form mr-3"></span>Gestion form</a></li>
          <div>
            <li [class.hidden]="!isAdministrator"><a  id="statsId" (click)="dropDownFunction(myDropdownStats)" class="dropbtn"><span class="icon-stats mr-3"></span>Analyses et statistiques</a></li>
            <div id="myDropdownStats" class="dropdown-content">
              <a routerLink="/admin/dashboard">Dashboard</a>
              <a routerLink="/admin/stats">statistiques</a> <!-- path: "insertion-etudiant/:etudiant" -->
            </div>
          </div>      

        </ul>
      </div>
  </div>
    
</aside>
