<!-- <p>menu-student works!</p> -->

<aside class="sidebar">
  <div class="toggle">
      <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
  </div>
  
  <div class="side-inner">

      <div class="profile">
        <img src="assets/Img/student_icon.png" alt="Image" class="img-fluid" *ngIf="isStudent">
        <img src="assets/Img/professor_icon" alt="Image" class="img-fluid" *ngIf="isProfessor">
        <img src="assets/Img/admin_icon.png" alt="Image" class="img-fluid" *ngIf="isAdministrator">
        <h3 class="name"> {{ currentUser.username }} </h3>
      </div>

      <div class="nav-menu">
        <ul>
          <li class="active"><a routerLink="/rapports"><span class="icon-home mr-3"></span>Accueil</a></li>
          <li><a routerLink="/profile"><span class="icon-user mr-3"></span>Mon profil</a></li>
          <div>
            <li *ngIf="isStudent"><a  (click)="dropDownFunction(myDropdownRapport)" class="dropbtn"><span class="icon-report mr-3"></span>Rapports</a></li>
            <div id="myDropdownRapport" class="dropdown-content">
              <a routerLink="/" >Mes rapports</a> <!-- path: "rapport-etudiant/:etudiant" -->
              <a routerLink="/add-rapport" >Ajouter rapport</a>
            </div>
          </div>

          <li *ngIf="isAdministrator"><a routerLink="/insertions"><span class="icon-insertion mr-3"></span>Insertions</a></li>

          <div>
            <li *ngIf="isStudent"><a  (click)="dropDownFunction(myDropdownInsertion)" class="dropbtn"><span class="icon-insertion mr-3"></span>Insertions</a></li>
            <div id="myDropdownInsertion" class="dropdown-content">
              <a routerLink="/">Mon insertion</a> <!-- path: "insertion-etudiant/:etudiant" -->
              <a routerLink="/add-insertion">Ajouter insertion</a>
            </div>
          </div>

          <div>
            <li *ngIf="isAdministrator"><a  (click)="dropDownFunction(myDropdownProf)" class="dropbtn"><span class="icon-prof mr-3"></span>Gestion professeurs</a></li>
            <div id="myDropdownProf" class="dropdown-content">
              <a routerLink="/">liste prof</a>
              <a routerLink="/">Ajouter prof</a> <!-- path: "insertion-etudiant/:etudiant" -->
            </div>
          </div>

          <div>
            <li *ngIf="isAdministrator"><a  (click)="dropDownFunction(myDropdownEtudiant)" class="dropbtn"><span class="icon-etudiant mr-3"></span>Gestion etudiants</a></li>
            <div id="myDropdownEtudiant" class="dropdown-content">
              <a routerLink="/">liste etudiant</a>
              <a routerLink="/">Ajouter etudiant</a> <!-- path: "insertion-etudiant/:etudiant" -->
            </div>
          </div>

          <li *ngIf="isAdministrator"><a routerLink="/"><span class="icon-form mr-3"></span>Gestion form</a></li>
          <li *ngIf="isAdministrator"><a routerLink="/"><span class="icon-stats mr-3"></span>Analyses et statistiques</a></li>       



        </ul>
      </div>
  </div>
    
</aside>
